<div class="medium-4 columns form-centered">
    <form (ngSubmit)="Login(f)" [formGroup]="Form" #f="ngForm" class="log-in-form">
        <h4 class="text-center">Bodo</h4>

        <label>Email
            <input type="text" name="Email" id="Email" formControlName="Username">
        </label>
        <label>Password
            <input type="password" name="Password" id="Password" formControlName="Password">
        </label>
        <p><input type="submit" class="button expanded" value="Log in"/></p>
        <p class="text-center"><a [routerLink]="['/authentication/register']">Not a member yet?</a></p>
    </form>
</div>
