<div class="card-wrapper form-centered">
    <div class="brand">
    </div>
    <div class="card fat">
        <div class="card-body">
            <h4 class="card-title">Login</h4>

            <form (ngSubmit)="Login(f)" [formGroup]="Form" #f="ngForm" class="log-in-form">
                <div class="form-group">
                    <label>Email</label>
                    <input type="text" class="form-control" name="Email" id="Email"
                           formControlName="Username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="Password" id="Password"
                           formControlName="Password">

                </div>
                <button type="submit" class="btn btn-primary btn-block">
                    Login
                </button>
                <p class="text-center"><a [routerLink]="['/authentication/register']">Not a member yet?</a>
                </p>
            </form>
        </div>
    </div>
</div>
