<div class="card-wrapper form-centered">
    <div class="brand">
    </div>
    <div class="card fat">
        <div class="card-body">
            <h4 class="card-title">Sign up</h4>

            <form (ngSubmit)="Register(f)" [formGroup]="Form" #f="ngForm" class="log-in-form">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First name</label>
                            <input class="form-control" type="text" name="FirstName" id="FirstName" formControlName="FirstName">

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last name</label>
                            <input class="form-control" type="text" name="LastName" id="LastName" formControlName="LastName">
                        </div>
                    </div>

                    <div class="col-md-9">
                        <div class="form-group">
                            <label>Street</label>
                            <input class="form-control" type="text" name="Street" id="Street" formControlName="Street">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label>Postal</label>
                            <input class="form-control" type="text" name="Postal" id="Postal" formControlName="Postal">
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input class="form-control" type="text" name="Email" id="Email" formControlName="Username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" name="Password" id="Password" formControlName="Password">
                </div>

                <button type="submit" class="btn btn-primary btn-block">
                    Sign up
                </button>
                <p class="text-center"><a [routerLink]="['/authentication/login']">Already a member?</a></p>
            </form>
        </div>
    </div>
</div>
