<div class="padding-1">
    <div class="medium-12 columns">
        <div class="float-left top-bar-padding">
            {{User.FirstName | capitalize}}
        </div>
        <div class="float-right top-bar-padding" (click)="Logout()">
            Logout
        </div>
    </div>
    <div class="medium-2 columns">
        <app-category-list (selected)="SelectList($event)"></app-category-list>
    </div>
    <div [hidden]="List === null">
        <div class="columns medium-10">
            <app-todo-list [list]="List"></app-todo-list>
        </div>


        <app-todo-detail *ngIf="Fillables.Todo" @fromRight></app-todo-detail>
    </div>
</div>
