<nav class="navbar navbar-dark bg-primary justify-content-between">
    <a class="navbar-brand">{{User.FirstName | capitalize}}</a>

    <form class="form-inline">
        <button (click)="Logout()" class="btn btn-outline-light my-2 my-sm-0">Logout</button>
    </form>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 hv-100">
            <div class="mt-3">
                <app-category-list (selected)="SelectList($event)"></app-category-list>
            </div>
        </div>
        <div [hidden]="List === null" class="col-10 hv-100 content--background">
            <div class="mt-3">
                <app-todo-list [list]="List"></app-todo-list>

                <app-todo-detail *ngIf="Fillables.Todo" @fromRight></app-todo-detail>
            </div>
        </div>
    </div>
</div>
