$primary: #0483b7;

@import "~bootstrap/scss/bootstrap.scss";
@import "~ng-pick-datetime/assets/style/picker.min.css";



body {
    overflow: hidden;
}

.navbar-dark .navbar-brand {
    color: #fff !important;
}

.owl-dt-calendar-table {
    table-layout: fixed;
}

.owl-dt-calendar-table .owl-dt-calendar-cell-selected {
    background-color: $primary;
}

.tabs-title > a:focus, .tabs-title.is-active > a {
    background: #e6e6e6 !important;
    color: #1779ba;
}
.owl-dt-container-buttons {
    color: $primary !important;
}

.trash-list {
    margin-left: 10px;
    cursor: pointer;
}

.form-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.top-bar-padding {
    padding: 10px 0;
}

.todo-checkbox-holder {
    float: left;
}

.todo-checkbox-holder {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    margin-top: 2px !important;
    position: relative;
}

input[type="checkbox"] + label {
    width: 20px;
    height: 20px;
    border: 2px solid #555;
    border-radius: 3px;
    transition: all ease-out 200ms;
    text-indent: 90px;
    font: normal normal 30px/60px "Helvetica";
    white-space: nowrap;
    color: #555;
    user-select: none;
    margin: 0 !important;

    &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 8px;
        border-bottom: 2px solid #555;
        border-left: 2px solid #555;
        top: 25%;
        left: 50%;
        transform-origin: bottom left;
        transform: rotate(-50deg);
        opacity: 0;
        transition: all ease-out 200ms;
    }
}

input[type="checkbox"]:checked + label {
    border: 2px solid #555;

    &:after {
        opacity: 1;
        width: 20px;
    }
}

.todo-checkbox {
    display: none;
}

app-dynamic-modal {
    z-index: 1006;
    padding: 1rem;
    border: 1px solid #cacaca;
    border-radius: 0;
    background-color: #fefefe;
    top: 0;
    overflow-y: auto;
    left: 0;
    margin: 0 auto;
    max-width: 55.55556rem !important;;
    right: 0;
    position: absolute !important;
    width: 30% !important;;
    display: block;
}

.reveal-overlay.opened {
    background: rgba(0, 0, 0, 0.4);;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

app-todo-item {
    display: block;
}

.todo-callout {
    margin: 10px 0 0;
    height: 40px;
    padding: 8px 10px;
    border: 1px solid rgba(0, 0, 0, .125);
    background-color: #fff;
    border-radius: 0.25rem;

    h6 {
        margin-bottom: 0;
        margin-top: 2px;
        font-weight: 100;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 280px;
        height: 1.2em;
        white-space: nowrap;
    }
}

.close-reveal-modal {
    position: absolute;
    outline: none !important;
    font-size: 30px;
    &.detail {
        top: 4px;
        right: 15px;
    }
}

.modal-form--w-title {
    margin-top: 2.55556rem;
}

.list-spacer {
    border-bottom: 1px solid grey;
    font-weight: bold;
}

.todo-detail--holder {
    position: relative;
    width: 100%;
}

.animate-column {
    transition: 600ms cubic-bezier(0.19, 1, 0.22, 1);
}

app-todo-detail {
    z-index: 1006;
    display: block;
    position: fixed;
    width: 400px;
    right: 0;
    top: 0;
    padding: 44px 15px;
    background: white;
    height: 100%;
    overflow: scroll;
}

.notification-holder {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 99;
}

.notification {
    background-color: #484848;
    width: 100%;
    height: 50px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.40);

    .notification-message {
        text-align: left;
        color: #fff;
        font-size: 13px;
        font-weight: bold;
        margin: 0;
        padding: 15px 0;
    }

    &.success {
        background-color: #22bb5b;
    }

    &.error {
        background-color: #cc4b37;
    }
}

.input--no-margin {
    margin-bottom: 0;
}

.todo-edit--input input {
    margin: -3px 0;
    height: 30px;
}

[hidden] {
    display: none !important;
}

.completed-todos--counter {
    margin: 10px 0 0;
    display: block;
}

.bodo--create-todo {
    position: relative;
    .bodo--date-picker {
        position: absolute;
        top: 53px;
        right: 16px;
    }
}

.bodo--open-date {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 19px;
    padding: 11px 15px;
    cursor: pointer;
}

.cdk-overlay-pane {
    left: auto !important;
    right: 35px !important;
    top: 90px !important;
}

.owl-dt-calendar-control {
    padding: 1.5em
}

.owl-dt-calendar-cell {
    width: 0 !important;
}

.badge-share {
    margin-top: 3px;
    display: block;
    float: left;
}

.settings-span {
    float: right;
    margin-left: 6px;
}

.list-group-item {

    padding: .75rem .65rem;
}

.card-wrapper {
    width: 500px;
}

.trash-todo {
    margin-top: 3px;
    cursor: pointer;
}

.hv-100 {
    height: 100vh;
}


.content--background {
    background: url('./assets/images/08.jpg') no-repeat center;
    background-size: cover;
}

input[type="text"].create-todo--input::-webkit-input-placeholder {
    color: rgba(249, 249, 249, 0.5);
}

.create-todo--input {
    background: rgba(4,131,183,0.75) !important;
    color: #fff !important;
    border: none;
    height: 50px;
    outline: none !important;
    box-shadow: none !important;
}

.completed-todos--counter {
    color: #fff;
    padding: 3px 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    display: inline-block;
    line-height: 16px;
    border-radius: 3px;
    font-size: 10px;
    cursor: pointer;
    background: $primary
}
