<form (ngSubmit)="UpdateTodo(pf)" [formGroup]="PatchForm" #pf="ngForm">
    <input type="text" placeholder="" name="Text" formControlName="Text">
</form>

<form (ngSubmit)="AddChildTodo(cf)" [formGroup]="ChildForm" #cf="ngForm">
    <input type="text" placeholder="Add a subtask" name="Text" formControlName="Text">
</form>

<div *ngIf="Fillables.Todos.length > 0">
    <app-todo-item *ngFor="let todo of Fillables.Todos" (completed)="Complete($event)" [todo]="todo"></app-todo-item>
</div>


<span>Completed Todos ({{Fillables.Completed.length}})</span>
<app-todo-item *ngFor="let todo of Fillables.Completed" (completed)="Complete($event)" [todo]="todo"></app-todo-item>
