<form (ngSubmit)="EditList(eform)" [formGroup]="EForm" #eform="ngForm" class="modal-form--w-title">
    <input type="text" placeholder="Create list" name="Name" id="Name" formControlName="Name">
</form>

<p>Invite member's to share this list with them. They can also invite members, add, edit and schedule todos</p>

<p>(Invite member's by comma separating their emails)</p>
<form (ngSubmit)="InviteMembers(iform)" [formGroup]="IForm" #iform="ngForm" class="clearfix">
    <input type="text" placeholder="Email's" name="Email" id="Email" formControlName="Emails">
    <button class="button float-right">Share</button>
</form>

<p class="font-bold">Members:</p>
<p><span *ngFor="let member of Members; let last = last;">{{member.FirstName}} {{member.LastName}}<span
    *ngIf="!last">, </span></span></p>
