<app-create-todo [list]="List"></app-create-todo>

<app-todo-item *ngFor="let todo of Fillables.Todos" (clicked)="SetTodo($event)" (completed)="Complete($event)"
               (deleted)="Delete($event)" [todo]="todo" @easeInOut></app-todo-item>

<span class="completed-todos--counter" (click)="ShowCompleted()">Completed Todos ({{Fillables.Completed.length}})</span>
<div *ngIf="Dom.ShowCompleted">
    <app-todo-item *ngFor="let completed of Fillables.Completed" (clicked)="SetTodo($event)"
                   (completed)="Complete($event)" (deleted)="Delete($event)" [todo]="completed"
                   @easeInOut></app-todo-item>
</div>



