<div class="callout secondary clearfix todo-callout" *ngIf="Todo !== null">

    <div class="todo-checkbox-holder">
        <input type="checkbox" [id]="'check-' + Todo.Id" class="todo-checkbox" [checked]="Todo.Completed" (click)="Complete()"/>
        <label [for]="'check-' + Todo.Id"></label>
    </div>

    <app-edit-input *ngIf="Todo.ParentId.Valid" class="float-left todo-edit--input" [Text]="Todo.Text"></app-edit-input>
    <h6 *ngIf="!Todo.ParentId.Valid" (click)="Clicked()" class="float-left">{{Todo.Text}}</h6>
    <i (click)="Delete()" class="float-right fi-trash trash-list"></i>
</div>
